form {
    background-color: #efefef;
    padding: 2em;
}

input[type="email"] {
    margin-bottom: 2em;
    border: 0;
    background: red;
}

input {
    margin-bottom: 2em;
    border: 0;
}

button {
    background-color: 0;
    border: 0;
}

button:hover {
    cursor: pointer;
}